<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col s12 m6">
        <div class="card purple darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%=@entry.title %></span>
            <p><%=@entry.body %></p>
          </div>
          <div class="card-action">
            <form method="get" action="/diary">
              <button class="waves-effect waves-light btn">Back</button>
            </form>
            <form method="post" action="/diary/<%= @entry.id%>">
              <input type="hidden" name="_method" value="DELETE" />
              <button class="waves-effect waves-light btn">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
