<h1>My Daily Diary</h1>

<% Diary.all.each do |entry| %>
<div>
  <a href="./diary/<%= entry.id %>"><%= entry.title %></a>
</div>
<% end%>


<form method="post">
  <input type="text" name="title" placeholder="Title" />
  <input type="text" name="body" placeholder="Body" />
  <input type="submit" value="Submit">
</form>